<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.graduation.mapper.YdFacultyInfoMapper">
	<select id="findFacultyTree" resultType="org.jeecg.modules.graduation.vo.ClassTreeVo">
			SELECT a.id as value,a.faculty as label, "" as parentId
			from yd_faculty_info a
	</select>
	
</mapper>