<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.graduation.mapper.YdStudentInfoMapper">
	<select id="finStudentPageList" resultType="org.jeecg.modules.graduation.entity.YdStudentInfo">
		SELECT a.*,b.class_name
		FROM yd_student_info a
		left JOIN yd_class_info b on a.class_id=b.id
		WHERE a.del_flag='0'
		<if test="map.username != null and map.username !=''">
            and a.username LIKE CONCAT('%','${map.username}','%')
	    </if>
		<if test="map.realname != null and map.realname !=''">
            and a.realname LIKE CONCAT('%','${map.realname}','%')
	    </if>
		<if test="map.sex != null and map.sex!=''">
          and a.sex = #{map.sex}
	    </if>
		<if test="map.classId != null and map.classId!=''">
            and a.class_id = #{map.classId}
	    </if>
	</select>
</mapper>