<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.graduation.mapper.YdStudentInfoMapper">
	<select id="finStudentPageList" resultType="org.jeecg.modules.graduation.entity.YdStudentInfo">
		SELECT a.*,b.class_name
		FROM yd_student_info a
		left JOIN yd_class_info b on a.class_id=b.id
		WHERE a.del_flag='0'
		and a.class_id in (
			SELECT c.id
			FROM yd_class_info c
			WHERE c.major_id in (
				SELECT d.id
				from yd_major_info d
				LEFT JOIN yd_faculty_info e on  d.faculty_id=e.id
				<if test="queryName != null and queryName!=''">
					WHERE e.id =#{queryName}
				</if>
			)
		)
		<if test="map.username != null and map.username !=''">
            and a.username LIKE CONCAT('%','${map.username}','%')
	    </if>
		<if test="map.realname != null and map.realname !=''">
            and a.realname LIKE CONCAT('%','${map.realname}','%')
	    </if>
		<if test="map.sex != null and map.sex!=''">
          and a.sex = #{map.sex}
	    </if>
		<if test="map.classId != null and map.classId!=''">
            and a.class_id = #{map.classId}
	    </if>
	    <if test="map.isGroup != null and map.isGroup!=''">
            and a.is_group = #{map.isGroup}
	    </if>
	</select>
	
	<select id="findStudentTree" resultType="org.jeecg.modules.graduation.vo.ClassTreeVo">
			SELECT a.id as value,a.realname as label, a.class_id as parentId
			from yd_student_info a
			WHERE  a.del_flag ='0'
	</select>
	<select id="findStudentInfo" resultType="org.jeecg.modules.graduation.entity.YdStudentInfo">
	<!-- 查找学生头像 -->
			SELECT a.*,c.file_path
			from yd_student_info a
			LEFT join sys_user b on a.user_id=b.id
			LEFT JOIN sys_file_manage c on b.avatar =c.id
			WHERE  a.username = #{username}
			and a.del_flag ='0'
	</select>
	<select id="findGroupTutor" resultType="org.jeecg.modules.graduation.entity.YdStudentInfo">
	<!-- 通过登录账号 查找该学生的导师id 以及学生信息 -->
		SELECT a.*,c.tutor_id as teacherId
		FROM yd_student_info a
		JOIN yd_group_person b on b.real_id =a.id
		JOIN yd_group c on b.group_id = c.id
		WHERE a.username = #{username}
		and a.del_flag ='0'
	</select>
</mapper>